#w
{
   font-family: serif;
   color: darkorchid; 
}

#username
{
   font-family: serif;
   color: rgb(50, 183, 204); 
}

.html
{
    background-color: cornsilk;
}

#ar
{
    background-color: rgb(140, 240, 198);
    font-family: serif;
}